In [1]:
#Projeto: programação para a ciencia de dados

In [1]:
import pandas as pd
import numpy as np

import datetime as dt 
import time

In [27]:
citys = pd.read_csv('city_data.csv',sep='|',header=1, index_col="City")
citys

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
City,,,,,,,,,,,,,
"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15 00:00:00
"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00
"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11 00:00:00
"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10 00:00:00
"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07 00:00:00
"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,309.0,2023-06-08 00:00:00
"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,NaN,2024-05-02 00:00:00

In [28]:
citys.head()

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
City,,,,,,,,,,,,,
"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15 00:00:00
"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00
"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17 00:00:00

In [6]:
citys.isna().sum() #há missing values, temos que os retirar e trocar por outros que vamos pesquisar

Population Density                  1
Population                          0
Working Age Population              1
Youth Dependency Ratio              0
Unemployment Rate                   1
GDP per Capita                      1
Days of very strong heat stress     0
Main Spoken Languages               1
Average Monthly Salary              0
Avgerage Rent Price                 0
Average Cost of Living              0
Average Price Groceries            80
Last Data Update                    0
dtype: int64

In [ ]:
#retirar coluna Average Price Groceries.
#pesquisar os outros missing values em falta 
#mudar os nomes das colunas

In [15]:
citys.columns

Index(['Population Density', 'Population', 'Working Age Population ',
       'Youth Dependency Ratio', 'Unemployment Rate', 'GDP per Capita',
       'Days of very strong heat stress', 'Main Spoken Languages',
       'Average Monthly Salary', 'Avgerage Rent Price',
       'Average Cost of Living', 'Average Price Groceries',
       'Last Data Update'],
      dtype='object')

In [29]:
citys1 = citys.drop(columns=['Average Price Groceries'],axis=1) #retiramos esta coluna pois esta coluna tem 80 missing values sendo que existem 86 linhas achando assim que não é uma variavel importante
citys1

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,2024-06-15 00:00:00
"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,2023-11-03 00:00:00
"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,2023-04-22 00:00:00
"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,2024-08-09 00:00:00
"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,2023-07-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,2024-09-11 00:00:00
"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,2023-03-10 00:00:00
"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,2024-07-07 00:00:00
"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,2023-06-08 00:00:00
"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,2024-05-02 00:00:00

In [19]:
citys1[citys1['Population Density'].isnull()]# na coluna population Density, a cidade de valencia apresenta missing value. 
#pesquisamos na wikipedia e a densidade populacional é de 5 865.2 . Alterar o missing value da coluna para este novo valor

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Valencia, Spain",NaN,-82,inf,22.59375,13.703125,33568.0,5,Spanish;Valencian,96,-90,20,2023-06-04 00:00:00

In [24]:
citys1['Population Density'] = citys1['Population Density'].fillna(5865.2)#através da função fillna preenchemos o missing value existente na coluna population density com um valor retirado da wikipedia
citys1[citys1['Population Density'].isnull()]#para confirmar que o missing value daquela coluna desapareceu

Empty DataFrame
Columns: [Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Last Data Update]
Index: []

In [26]:
citys1[citys1["Working Age Population "].isnull()]#na coluna working age population, a cidade de Dusseldorf apresenta missing value
#https://www.arbeitsagentur.de/vor-ort/duesseldorf/statistik? - retiramos daqui o valor em falta

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Dusseldorf, Germany",1295.0,-99,NaN,21.40625,3.300781,inf,3,NaN,-128,76,2,2024-01-15 00:00:00

In [30]:
citys1['Working Age Population '] = citys1['Working Age Population '].fillna(424159.0)
citys1[citys1['Working Age Population '].isnull()]

Empty DataFrame
Columns: [Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Last Data Update]
Index: []

In [28]:
citys.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86 entries, Vienna, Austria to Adana, Turkiye
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Population Density               85 non-null     float64
 1   Population                       86 non-null     int64
 2   Working Age Population           85 non-null     float64
 3   Youth Dependency Ratio           86 non-null     float64
 4   Unemployment Rate                85 non-null     float64
 5   GDP per Capita                   85 non-null     float64
 6   Days of very strong heat stress  86 non-null     int64
 7   Main Spoken Languages            85 non-null     object
 8   Average Monthly Salary           86 non-null     int64
 9   Avgerage Rent Price              86 non-null     int64
 10  Average Cost of Living           86 non-null     int64
 11  Average Price Groceries          6 non-null      float64
 12  Last Data Update                 86 non-null     object
dtypes: float64(6), int64(5), object(2)
memory usage: 9.4+ KB

In [7]:
citys = citys.astype({'Population Density' : 'float16',
                      'Population' : 'int8',
                      'Working Age Population ' : 'float16', 
                      'Youth Dependency Ratio' : 'float16',
                      'Unemployment Rate': 'float16',
                      'GDP per Capita' : 'float16',
                      'Days of very strong heat stress':'int8',
                      'Average Monthly Salary':'int8',
                      'Avgerage Rent Price':'int8',
                      'Average Cost of Living' : 'int8',
                      'Average Price Groceries': 'float16'})

/opt/anaconda3/lib/python3.12/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
/opt/anaconda3/lib/python3.12/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

In [8]:
citys.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86 entries, Vienna, Austria to Adana, Turkiye
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Population Density               85 non-null     float16
 1   Population                       86 non-null     int8
 2   Working Age Population           85 non-null     float16
 3   Youth Dependency Ratio           86 non-null     float16
 4   Unemployment Rate                85 non-null     float16
 5   GDP per Capita                   85 non-null     float16
 6   Days of very strong heat stress  86 non-null     int8
 7   Main Spoken Languages            85 non-null     object
 8   Average Monthly Salary           86 non-null     int8
 9   Avgerage Rent Price              86 non-null     int8
 10  Average Cost of Living           86 non-null     int8
 11  Average Price Groceries          6 non-null      float16
 12  Last Data Update                 86 non-null     object
dtypes: float16(6), int8(5), object(2)
memory usage: 3.4+ KB

In [ ]:
citys.select_dtypes(include=['float16', 'float64']).apply(lambda x: x.astype(int) == x).all()