In [33]:
from IPython.display import display, HTML
display(HTML("<b style='font-size:24px'>Project - Where Should I live.</b><br><br>"))

In [1]:
import pandas as pd
import numpy as np

import datetime as dt 
import time

In [2]:
citys = pd.read_csv('city_data.csv',sep='|',header=1, index_col="City")
citys

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
City,,,,,,,,,,,,,
"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15 00:00:00
"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00
"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11 00:00:00
"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10 00:00:00
"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07 00:00:00
"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,309.0,2023-06-08 00:00:00
"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,NaN,2024-05-02 00:00:00

In [3]:
citys.head()

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
City,,,,,,,,,,,,,
"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15 00:00:00
"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00
"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22 00:00:00
"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09 00:00:00
"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17 00:00:00

In [4]:
citys.isna().sum() #há missing values, temos que os retirar e trocar por outros que vamos pesquisar

Population Density                  1
Population                          0
Working Age Population              1
Youth Dependency Ratio              0
Unemployment Rate                   1
GDP per Capita                      1
Days of very strong heat stress     0
Main Spoken Languages               1
Average Monthly Salary              0
Avgerage Rent Price                 0
Average Cost of Living              0
Average Price Groceries            80
Last Data Update                    0
dtype: int64

In [ ]:
#retirar coluna Average Price Groceries. (feito)
#pesquisar os outros missing values em falta (feito)
#mudar os nomes das colunas

In [4]:
citys.columns #confirmar nomes das colunas do nosso dataset

Index(['Population Density', 'Population', 'Working Age Population ',
       'Youth Dependency Ratio', 'Unemployment Rate', 'GDP per Capita',
       'Days of very strong heat stress', 'Main Spoken Languages',
       'Average Monthly Salary', 'Avgerage Rent Price',
       'Average Cost of Living', 'Average Price Groceries',
       'Last Data Update'],
      dtype='object')

In [5]:
citys1 = citys.drop(columns=['Average Price Groceries'],axis=1) #retiramos esta coluna pois esta coluna tem 80 missing values sendo que existem 86 linhas achando assim que não é uma variavel importante.
citys1

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,2024-06-15 00:00:00
"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,2023-11-03 00:00:00
"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,2023-04-22 00:00:00
"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,2024-08-09 00:00:00
"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,2023-07-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,2024-09-11 00:00:00
"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,2023-03-10 00:00:00
"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,2024-07-07 00:00:00
"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,2023-06-08 00:00:00
"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,2024-05-02 00:00:00

In [6]:
citys1[citys1['Population Density'].isnull()]# na coluna population Density, a cidade de valencia apresenta missing value. 
#pesquisamos na wikipedia e a densidade populacional é de 5 865.2 . Alterar o missing value da coluna para este novo valor

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Valencia, Spain",NaN,1748142,1162828.0,22.6,13.7,33570.0,5,Spanish;Valencian,2400,1190,1300,2023-06-04 00:00:00

In [8]:
citys1['Population Density'] = citys1['Population Density'].fillna(5865.2)#através da função fillna preenchemos o missing value existente na coluna population density com um valor retirado da wikipedia
citys1[citys1['Population Density'].isnull()]#para confirmar que o missing value daquela coluna desapareceu

Empty DataFrame
Columns: [Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Last Data Update]
Index: []

In [9]:
citys1[citys1["Working Age Population "].isnull()]#na coluna working age population, a cidade de Dusseldorf apresenta missing value
#https://www.arbeitsagentur.de/vor-ort/duesseldorf/statistik? - retiramos daqui o valor em falta

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Dusseldorf, Germany",1295.0,1554077,NaN,21.4,3.3,71238.0,3,NaN,3200,1100,2050,2024-01-15 00:00:00

In [10]:
citys1['Working Age Population '] = citys1['Working Age Population '].fillna(424159.0)
citys1[citys1['Working Age Population '].isnull()]

Empty DataFrame
Columns: [Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Last Data Update]
Index: []

In [11]:
citys1[citys1["Unemployment Rate"].isnull()] #nesta coluna da taxa de desemprego, a cidade de Gent apresenta missing values
#https://provincies.incijfers.be/databank/report/?id=rapport_economie&input_geo=gemeente_44021%2C&utm- retiramos desta tabela o valor de 10.8% da taxa de desemprego no ano de 2024

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,2023-07-17 00:00:00

In [12]:
citys1["Unemployment Rate"]=citys1["Unemployment Rate"].fillna(10.8)
citys1[citys1["Unemployment Rate"].isnull()]

Empty DataFrame
Columns: [Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Last Data Update]
Index: []

In [13]:
citys1[citys1["GDP per Capita"].isnull()]#nesta coluna a cidade de Lemesos (Cyprus) tem missing values.
#https://metroverse.hks.harvard.edu/city/4065/economic-composition?utm- retiramos desta tabela o valor de 4.170 dolares de gdp per capita desta cidade e convertemos em euros (3598.40)

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
Lemesos;Cyprus,190.0,262238,173906.0,23.06,11.2,NaN,0,"Greek, English, Russian",2500,1400,2300,2023-08-14 00:00:00

In [14]:
citys1["GDP per Capita"]=citys1["GDP per Capita"].fillna(3598.40)
citys1[citys1["GDP per Capita"].isnull()]

Empty DataFrame
Columns: [Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Last Data Update]
Index: []

In [15]:
citys1[citys1["Main Spoken Languages"].isnull()] #nesta coluna a cidade de Dusseldorf tem missing values nas linguas mais faladas
#https://citiesinsider.com/country/germany/dusseldorf/languages/en?ut - retiramos daqui as linguas mais faladas em Dusseldorf que são o alemao e o ingles

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Dusseldorf, Germany",1295.0,1554077,424159.0,21.4,3.3,71238.0,3,NaN,3200,1100,2050,2024-01-15 00:00:00

In [16]:
citys1["Main Spoken Languages"]=citys1["Main Spoken Languages"].fillna("German,English")
citys1[citys1["Main Spoken Languages"].isnull()]

Empty DataFrame
Columns: [Population Density, Population, Working Age Population , Youth Dependency Ratio, Unemployment Rate, GDP per Capita, Days of very strong heat stress, Main Spoken Languages, Average Monthly Salary, Avgerage Rent Price, Average Cost of Living, Last Data Update]
Index: []

In [17]:
citys1.isna().sum() #verificar se já não ha nenhum misisng value e confirma se.

Population Density                 0
Population                         0
Working Age Population             0
Youth Dependency Ratio             0
Unemployment Rate                  0
GDP per Capita                     0
Days of very strong heat stress    0
Main Spoken Languages              0
Average Monthly Salary             0
Avgerage Rent Price                0
Average Cost of Living             0
Last Data Update                   0
dtype: int64

In [18]:
citys1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86 entries, Vienna, Austria to Adana, Turkiye
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Population Density               86 non-null     float64
 1   Population                       86 non-null     int64
 2   Working Age Population           86 non-null     float64
 3   Youth Dependency Ratio           86 non-null     float64
 4   Unemployment Rate                86 non-null     float64
 5   GDP per Capita                   86 non-null     float64
 6   Days of very strong heat stress  86 non-null     int64
 7   Main Spoken Languages            86 non-null     object
 8   Average Monthly Salary           86 non-null     int64
 9   Avgerage Rent Price              86 non-null     int64
 10  Average Cost of Living           86 non-null     int64
 11  Last Data Update                 86 non-null     object
dtypes: float64(5), int64(5), object(2)
memory usage: 10.8+ KB

In [19]:
citys1.select_dtypes(include=['float16', 'float64']).apply(lambda x: x.astype(int) == x).all()
#Working age population é possivel ser int e as outras variaveis não

Population Density         False
Working Age Population      True
Youth Dependency Ratio     False
Unemployment Rate          False
GDP per Capita             False
dtype: bool

In [20]:
citys2= citys1.astype({'Population Density' : 'float16',
                      'Population' : 'int32',
                      'Working Age Population ' : 'int32', 
                      'Youth Dependency Ratio' : 'float16',
                      'Unemployment Rate': 'float16',
                      'GDP per Capita' : 'float32',
                      'Days of very strong heat stress':'int8',
                      'Average Monthly Salary':'int16',
                      'Avgerage Rent Price':'int16',
                      'Average Cost of Living' : 'int16',})

In [21]:
citys2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86 entries, Vienna, Austria to Adana, Turkiye
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Population Density               86 non-null     float16
 1   Population                       86 non-null     int32
 2   Working Age Population           86 non-null     int32
 3   Youth Dependency Ratio           86 non-null     float16
 4   Unemployment Rate                86 non-null     float16
 5   GDP per Capita                   86 non-null     float32
 6   Days of very strong heat stress  86 non-null     int8
 7   Main Spoken Languages            86 non-null     object
 8   Average Monthly Salary           86 non-null     int16
 9   Avgerage Rent Price              86 non-null     int16
 10  Average Cost of Living           86 non-null     int16
 11  Last Data Update                 86 non-null     object
dtypes: float16(3), float32(1), int16(3), int32(2), int8(1), object(2)
memory usage: 6.2+ KB

In [ ]:
#mudar os nomes das colunas que estão erradas

In [46]:
citys1.head()

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
City,,,,,,,,,,,,
"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,2024-06-15 00:00:00
"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,2023-11-03 00:00:00
"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,2023-04-22 00:00:00
"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,2024-08-09 00:00:00
"Gent, Belgium",552.0,645813,417832.0,24.8,10.8,53311.0,2,"Dutch, French",2400,827,1200,2023-07-17 00:00:00

In [48]:
citys1.reset_index()['City'].value_counts() #devolve quantas vezes cada coisa apareceu

City
Berlin. Germany           2
Malaga, Spain             2
Vienna, Austria           1
Rotterdam, Netherlands    1
The Hague, Netherlands    1
                         ..
Madrid, Spain             1
Odense, Denmark           1
Copenhagen, Denmark       1
Hanover, Germany          1
Adana, Turkiye            1
Name: count, Length: 84, dtype: int64

In [52]:
#qual é o país que mais aparece (e as suas cidades) (REVER ESTE CÓDIGO)
countries = citys1.index.str.split(",").str[-1].str.strip()
most_common_country = countries.value_counts().idxmax()
count = countries.value_counts().max
most_common_country
count
#o país que mais aparece é a Alemanha

<bound method Series.max of City
Germany            9
Italy              6
Spain              6
Netherlands        5
United Kingdom     5
Belgium            4
Portugal           4
Sweden             3
Switzerland        3
Poland             3
Norway             3
Hungary            3
France             3
Austria            2
Ireland            2
Croatia            2
Turkiye            2
Finland            2
Denmark            2
Berlin. Germany    2
Czechia            2
Bulgaria           2
Athens             1
Estonia            1
Luxembourg         1
Latvia             1
Malta              1
Lemesos;Cyprus     1
Cyprus             1
Romania            1
Slovak Republic    1
Slovenia           1
Greece             1
Name: count, dtype: int64>

In [24]:
#dentro da Alemanha qual é a cidade que mais aparece
citys1.index.str.split(",").str[0].value_counts().idxmax()
#a cidade que mais aparece é Berlim.

#Explicação do código:
#citys1. index contem as cidades e os paises
#o split vai dividir sempre que haja uma virgula entre as cidades e os paises por aspas
#str[0]- vai fazer com que apenas apareca a cidade que tem indice 0
#value conts- conta quantas vezes cada cidade aparece
#id max- escolhe a cidade que aparece mais vezes.

'Berlin. Germany'

In [ ]:
#Quantas cidades estão presentes no total do data set

In [30]:
#E na grécia

In [27]:
#Língua menos falada
citys1['Main Spoken Languages'].value_counts()

Main Spoken Languages
Italian                                   6
Dutch, English                            5
German                                    4
Swedish, English                          3
German, English                           3
Portuguese                                3
Norwegian, English                        3
Turkish                                   2
French                                    2
Croatian                                  2
Spanish, English                          2
Hungarian                                 2
English, Irish Gaelic                     2
Spanish                                   2
German, English, Turkish                  2
German, Turkish, Arabic, English          2
Polish, English                           2
Dutch, French                             2
English                                   1
Maltese, English                          1
Latvian, Russian                          1
Luxembourgish, French, German, English    1
Polish                                    1
Portuguese, English                       1
Romanian                                  1
Hungarian, English                        1
Slovak, English                           1
Greek                                     1
Slovene, English                          1
Greek, English                            1
English, Scots Gaelic                     1
German, English, Turkish, Serbian         1
English, Scots                            1
Czech                                     1
French, Dutch, Arabic, English            1
Dutch, French, Arabic                     1
Bulgarian, English, Turkish               1
Bulgarian, Turkish                        1
French, English                           1
German, English, French                   1
Greek, Turkish, English                   1
Greek, English, Russian                   1
Czech, English                            1
German, Turkish                           1
English, Urdu                             1
German,English                            1
Danish, English                           1
Danish                                    1
Spanish, Catalan                          1
Spanish;Valencian                         1
Estonian, Russian, English                1
Finnish, Swedish, English                 1
Finnish                                   1
English, Urdu, Bengali, Polish            1
French,   Arabic, English                 1
Name: count, dtype: int64

In [ ]:
#Quais são as três linguas mais faladas

In [ ]:
#Há dados enviesados. Quais são as cidades que precisam de ser atualizadas

In [ ]:
#Há quantos dias foi feita a ultima atualização (em que dia, mês ocorreu)- Data time